

<section id="hero" class="d-flex ">
    <div class="container position-relative  text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Bienvenue A <span>Neopolis</span></h1>
          <h2>M’enregistrer afin de rajouter mes propres  évènements!</h2>

          <div class="btns">
            <a [routerLink]="['/sign_in']"class="btn-menu animated fadeInUp scrollto"  routerLinkActive="active">Login     </a>
            <a [routerLink]="['/sign_up']" class="btn-book animated fadeInUp scrollto"  routerLinkActive="active">Registre</a>
          </div>
        </div>
    

      </div>
    </div>
  </section><!-- End Hero -->
  <app-topbar></app-topbar>
  <app-local></app-local>
